.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  background-color: aliceblue;
  padding: 16px 32px;
  height: 3rem;
}
nav a{
  margin-right: 16px;
  font-size: 18px;
}
nav a.active{
  text-decoration: none;
  font-weight: bold;
}
.Home{
  text-align: center;
}
.Home img{
  margin: 1rem;
  padding: 2rem;
  border-radius: .3rem;
  width: 30rem;
  margin-top: 6rem;
}

#desc{
  width: 30rem;
  font-size: 18px;
  margin-left: 3rem;
}
video{
  width: 30rem;
  margin-left: 3rem;
}
#name{
  font-size: 28px;
  margin-left: 12rem;
}